* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ebebeb;
}

/* HEADER DO SISTEMA */
header {
    background-color: #000;
    padding: 3px;
    font-size: 20px;
}

.title {
    margin-left: 10px;
    color: #fff;
    letter-spacing: 1px;
}

/* SEGURA SALDO E RECEITA */
.fora1 {
    margin-top: 30px;
    width: 100%;
    display: flex;
}

.total {
    width: 40%;
    margin: auto;
    background-color: #fff;
    display: flex;
    color: #000;
    justify-content: space-between;
    border-radius: 6px;
    box-shadow: 0px 0px 1px #000;
}

/* agrupa titulo e valor */
.s1 {
    display: flex;
    flex-direction: column;
    padding: 17px 13px;
    border-radius: 6px;
}

/* titulo */
.s2 {
    margin: auto;
    letter-spacing: 1px;
    font-size: 12px;
}

.valor {
    padding: 4px;
    margin: auto;
    font-size: 18px;
    border-radius: 6px;
}

.valor:hover {
    background-color: #000000d8;
    transition: 0.5s;
    color: #fff;
    cursor: pointer;
}

/* SEGURA REGISTROS */
.fora2 {
    margin-top: 40px;
    width: 100%;
    display: flex;
}


/* EXPOSIÇÃOREGISTROS DO BANCO DE DADOS */
.registros {
    width: 90%;
    background-color: #fff;
    margin: auto;
    padding-bottom: 15px;
    box-shadow: 0px 0px 1px #000;
    border-radius: 6px;
}

/* 'botoes' paginas */
.fora3 {
    width: 100%;
    background-color: #d8d7d7;
    color: #000;
    border-radius: 6px 6px 0px 0px;
    margin-bottom: 10px;
    border: 1px 1px 0px 1px solid;
}

/* alinha 'botoes' */
.tipo {
    display: flex;
    width: 90%;
}

/* 'botao' */
.nome {
    padding: 8px;
    width: 17.5%;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.8px;
}

.nome:first-child:hover {
    border-radius: 6px 0px 0px 0px;
}

.nome:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}


.a1 {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

#pag{
    width: 100%;
    height: 100%;
    font-size: 17px;
}

/* id para pagina ativa */
#pag-ativa {
    background-color: #fff;
    color: #000;
    border-radius: 6px 0px 0px 0px;
}

#pag-ativa2 {
    background-color: #fff;
    color: #000;
    border-radius: 0px 0px 0px 0px;
}


/* fundo da exibição dos registros */
#tabela {
    padding: 6px;
    width: 97.5%;
    min-height: 0px;
    overflow: hidden;
    background-color: #ebebeb;
    margin: auto;
    border-radius: 6px 6px 0px 0px;
    transform: translateY(5px);
}

.fora4 {
    padding: 6px;
    width: 97.5%;
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll;
    background-color: #d8d7d7;
    margin: auto;
    border-radius: 6px;
}

@media(max-width:1300px) {
    #tabela {
        visibility: hidden;
    }
    .fora4{
        transform: translateY(-40px);
        min-height: 208px;
    }
    .registros{
        padding-bottom: 0px;
        height: 290px;
    }
}

@media(max-width:1090px) {
    .fora4 {
        overflow-x: scroll;
    }

    #tabela {
        visibility: hidden;
    }

    .nome {
        letter-spacing: 0px;
        font-size: 13px;
    }
}

/*margin pra registros*/
.marg {
    margin-bottom: 10.5px;
    display: flex;
    width: 100%;
}

.marg:first-child {
    margin-top: 4px;
}

.marg:last-of-type {
    margin-bottom: 0px;
}

/* alinhar registro com input de exclusão */
.fora5 {
    display: flex;
    padding-left: 2px;
    width: 98%;
    margin: auto;
    justify-content: space-between;
}

/* exposição da tupla */
.expor {
    padding: 10px;
    margin: auto;
    display: flex;
    width: 98%;
    max-height: 40px;
    font-size: 17px;
    min-width: 1604px;
    color: #000;
    background-color: #fff;
}

#cabecalho {
    padding: 0px 10px;
    margin: auto;
    display: flex;
    width: 98%;
    font-size: 17px;
    min-width: 1604px;
    color: #000;
    background-color: #ebebeb;
}

.inforeg {
    width: 12%;
    margin: auto;
    text-align: center;
}

.inforeg2 {
    width: 12%;
    margin: auto;
    text-align: center;
}

.inforeg3 {
    width: 10%;
    margin: auto;
    text-align: center;
}

.hidden {
    visibility: hidden;
}


@media(max-width:1190px) {
    .expor {
        font-size: 15px;
    }
}


/* TESTE BOTÕES */
.fora6 {
    display: flex;
    justify-content: space-between;
    width: 97%;
    margin: auto;
}

.t1 {
    width: 50%;
    overflow: hidden;
}

.t2 {
    width: 50%;
    overflow: hidden;
    text-align: end;
}

.final {
    font-size: 15px;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: #D9D9D9;
    box-shadow: 0.5px 0.5px 3px #7c7c7c;
    letter-spacing: 0.5px;
}

.marge{
    width: 25%;
    margin: auto;
}

.final:hover {
    background-color: #3ab840a9;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 3px #3ab840a9;
}

/* SELECT */
select[name="ano"] {
    display: block;
    width: 75%;
    text-align: center;
    margin: auto;
    height: 25px;
    font-size: 15px;
    line-height: 1.75;
    color: #000;
    background-color: #ffffff;
    -ms-word-break: normal;
    word-break: normal;
}

/* CADASTRO DE CLIENTES */
.fora7 {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
}

.cadastro {
    background-color: #fff;
    width: 40%;
    margin: auto;
    box-shadow: 0px 0px 1px #000;
    border-radius: 6px;
    padding-bottom: 10px;
}

.cadastro:nth-child(2){
    margin-top: 0px;
}

.cad {
    background-color: #D9D9D9;
    padding: 10px;
    text-align: center;
    border-radius: 6px 6px 0px 0px;
    font-size: 18px;
    margin-bottom: 10px;
}

.formcadastro {
    width: 85%;
    margin: auto;
    padding: 5px;
    border-radius: 6px;
    background-color: #D9D9D9;
}

.formc {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.formc input {
    border: 0.1px solid #000;
    border-radius: 6px;
    padding: 3px;
    font-family: Arial, sans-serif;
    width: 100%;
}

.inputcadastro {
    width: 50%;
}



select[id="sel"] {
    border: 0.1px solid #000;
    border-radius: 6px;
    padding: 3px;
    font-family: Arial, sans-serif;
    width: 103%;
}

input[type="email"]:focus,
select[id="sel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="text"]:focus {
    outline: none;
    box-shadow: 0px 1px 2px #7c7c7c;
}

.info {
    width: 40%;
}

.centcadastro {
    width: 95%;
    margin: auto;
}

input[id="pag"] {
    cursor: pointer;
    background: none;
}

.pagar{
    padding: 2px 4px;
    color: #000;
    background-color: #D9D9D9;
    border-radius: 2px;
}

#pago:hover{
    background-color: #3ab840a9;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}

#excluir:hover{
    background-color: #aa0101a2;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}